<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reciclica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list color="success">
    <ion-item color="success">
      <ion-avatar slot="start">
        <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/maltemller-profile_image-125f860054210828-70x70.jpeg" />

      </ion-avatar>
      <ion-label>
        <h1>Vladimir Kostov</h1>
        <p>gathered <span class="money">15.00$</span> </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <app-pickup-call-card [hasHeader]="true" [hasFooter]="true"></app-pickup-call-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button color="success" (click)="newPickupCall()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
